<div class="container">
<h1>Vehicle Deployment Plannings</h1>
<div class="table-responsive">
    <table class="table align-middle text-nowrap">
        <thead>
        <tr>
            <th class="text-dark font-medium fs-4">ID</th>
            <th class="text-dark font-medium fs-4">Creation Date</th>
            <th class="text-dark font-medium fs-4">Last Modified Date</th>
            <th class="text-dark font-medium fs-4">Version</th>
            <th class="text-dark font-medium fs-4">Persons</th>
            <th class="text-dark font-medium fs-4">Vehicles</th>
            <th class="text-dark font-medium fs-4">Plans</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let planning of plannings">
            <td class="fs-4">{{ planning.id }}</td>
            <td class="fs-4">{{ planning.creationDate }}</td>
            <td class="fs-4">{{ planning.lastModifiedDate }}</td>
            <td class="fs-4">{{ planning.version }}</td>
            <td class="fs-4">
                <button (click)="openPersonModal(planning.persons)" class="btn btn-link">View persons</button>
            </td>
            <td class="fs-4">
                <button (click)="openVehicleModal(planning.vehicles)" class="btn btn-link">View vehicles</button>
            </td>
            <td class="fs-4">View plans</td> <!-- should lead to a new page that show all plans -->
        </tr>
        </tbody>
    </table>
</div>
</div>
