<div class="container">
    <div *ngIf="vehicleDeploymentPlanError">
        <p>Error loading vehicle deployment plans.</p>
    </div>

    <div *ngIf="!vehicleDeploymentPlanError">
        <h3>Select Locations Visited</h3>
        <form (ngSubmit)="saveTripSheet()">
            <div *ngFor="let location of locations">
                <label>
                    <input type="checkbox" [(ngModel)]="location.selected" name="location-{{location.id}}">
                    {{location.latitude}}, {{location.longitude}}
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
