<div class="container" *ngIf="tripSheet">
    <h1>Trip Sheet</h1>
    <div class="table-responsive">
        <table class="table align-middle text-nowrap">
            <thead>
            <tr>
                <th class="text-dark font-medium fs-4">ID</th>
                <th class="text-dark font-medium fs-4">Name</th>
                <th class="text-dark font-medium fs-4">Creation Date</th>
                <th class="text-dark font-medium fs-4">Vehicle</th>
                <th class="text-dark font-medium fs-4">Persons</th>
                <th class="text-dark font-medium fs-4">Route</th>
                <th class="text-dark font-medium fs-4">Plan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fs-4">{{ tripSheet.id }}</td>
                <td class="fs-4">{{ tripSheet.name }}</td>
                <td class="fs-4">{{ tripSheet.creationDate | customDate }}</td>
                <td class="fs-4">{{ tripSheet.vehicle.name }}, {{ tripSheet.vehicle.type }}</td>
                <td class="fs-4">
                    <ul>
                        <li *ngFor="let person of tripSheet.persons">{{ person.name }}</li>
                    </ul>
                </td>
                <td class="fs-4">
                    <a (click)="viewOnMap(tripSheet.locations)" class="btn btn-link">View on map</a>
                </td>
                <td class="fs-4">
                    <a (click)="navigateToPlan(tripSheet.vehicleDeploymentPlanId)" class="btn btn-link">View plan</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>