<div class="container">
    <h1>Vehicle Deployment Plans</h1>
    <div class="table-responsive">
        <table class="table align-middle text-nowrap">
            <thead>
            <tr>
                <th class="text-dark font-medium fs-4">Name</th>
                <th class="text-dark font-medium fs-4">Vehicle</th>
                <th class="text-dark font-medium fs-4">Persons</th>
                <th class="text-dark font-medium fs-4">Route</th>
                <th class="text-dark font-medium fs-4">TripSheets</th>
                <th class="text-dark font-medium fs-4">Planning</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plan of plans">
                <td class="fs-4">
                    <a (click)="navigateToDetails(plan.id)">{{ plan.name }}</a>
                </td>
                <td class="fs-4">{{ plan.vehicle.name }}, {{ plan.vehicle.type }}</td>
                <td class="fs-4">
                    <a (click)="openPersonModal(plan.persons)" class="btn btn-link">View persons</a>
                </td>
                <td class="fs-4">
                    <a (click)="viewOnMap(plan.locations)" class="btn btn-link">View on map</a>
                </td>
                <td class="fs-4">
                    <a (click)="navigateToTripSheets(plan.id)" class="btn btn-link">View trip sheets</a>
                </td>
                <td class="fs-4">
                    <a (click)="navigateToPlanning(plan.planningId)" class="btn btn-link">View planning</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>