<div class="container">
    <h1>Create a new Trip Sheet</h1>

    <h2>Select the persons that have been visited</h2>
    <div class="table-responsive" *ngIf="plan != undefined">
        <table class="table align-middle text-nowrap">
            <thead>
            <tr>
                <th class="text-dark font-medium fs-4">Select</th>
                <th class="text-dark font-medium fs-4">Name</th>
                <th class="text-dark font-medium fs-4">Start Location</th>
                <th class="text-dark font-medium fs-4">End Location</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of persons">
                <td><input type="checkbox" [(ngModel)]="person.selected"></td>
                <td class="fs-4">{{ person.name }}</td>
                <td class="fs-4">{{ person.startLocation.latitude }}, {{ person.startLocation.longitude }}</td>
                <td class="fs-4">{{ person.endLocation.latitude }}, {{ person.endLocation.longitude }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-success" (click)="saveTripSheet()">Save</button>
    </div>
</div>
