<div class="container">
  <h2>Add New Trip Sheet</h2>
  <form (submit)="saveTripSheet()">
    <div class="form-group">
      <label for="vehicleDeploymentPlanId">VehicleDto Deployment Plan ID:</label>
      <input type="number" class="form-control" id="vehicleDeploymentPlanId" [(ngModel)]="newTripSheet.vehicleDeploymentPlanId" name="vehicleDeploymentPlanId" required>
    </div>
    <div class="form-group">
      <label for="visitStatus">Visit Status:</label>
      <input type="text" class="form-control" id="visitStatus" [(ngModel)]="newTripSheet.visitStatus" name="visitStatus" required>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>

  <!-- Display trip sheets -->
  <div *ngIf="tripSheets && tripSheets.length">
    <h3>Trip Sheets</h3>
    <table class="table">
      <thead>
      <tr>
       <th>ID</th>
       <th>VehicleDto Deployment Plan ID</th>
        <th>Visit Status</th>
      </tr>
      </thead>
     <tbody>
      <tr *ngFor="let tripSheet of tripSheets">
        <td>{{ tripSheet.id }}</td>
        <td>{{ tripSheet.vehicleDeploymentPlanId }}</td>
        <td>{{ tripSheet.visitStatus }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
