<div class="container">
  <h2>Create Vehicle Deployment Service</h2>
  <form (submit)="saveVehicleDeploymentService()">
    <div class="form-group">
      <label for="serviceName">Service Name:</label>
      <input type="text" class="form-control" id="serviceName" [(ngModel)]="newVehicleDeploymentService.serviceName" name="serviceName" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="newVehicleDeploymentService.description" name="description" required></textarea>
    </div>
    <!--
    <div class="form-group">
      <label for="vehicleDeploymentPlannings">Vehicle Deployment Plannings:</label>
      <input type="text" class="form-control" id="vehicleDeploymentPlannings" name="vehicleDeploymentPlannings">
    </div>
    -->
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
