<div class="container">
<h1>Vehicle Deployment Plannings</h1>
<div class="table-responsive">
    <table class="table align-middle text-nowrap">
        <thead>
        <tr>
            <th class="text-dark font-medium fs-4">Name</th>
            <th class="text-dark font-medium fs-4">Creation Date</th>
            <th class="text-dark font-medium fs-4">Persons</th>
            <th class="text-dark font-medium fs-4">Vehicles</th>
            <th class="text-dark font-medium fs-4">Route</th>
            <th class="text-dark font-medium fs-4">Plans</th>
            <th class="text-dark font-medium fs-4">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let planning of plannings">
            <td class="fs-4">
                <a (click)="navigateToDetails(planning.id)">{{ planning.name }}</a>
            </td>
            <td class="fs-4">{{ planning.creationDate | customDate }}</td>
            <td class="fs-4">
                <a (click)="openPersonModal(planning.persons)" class="btn btn-link">View persons</a>
            </td>
            <td class="fs-4">
                <a (click)="openVehicleModal(planning.vehicles)" class="btn btn-link">View vehicles</a>
            </td>
            <td class="fs-4">
                <a (click)="viewOnMap(planning.plans)" class="btn btn-link">View on map</a>
            </td>
            <td class="fs-4">
                <a (click)="navigateToPlans(planning.id)" class="btn btn-link">View plans</a>
            </td>
            <td class="fs-4">
                <button (click)="confirmDelete(planning.id)" class="btn btn-link">
                    <i class="bi bi-trash text-danger"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
